#root {
  background-color: #fc9595;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    filter: hue-rotate(330deg)
  }
}

.App-header {
  background-color: #f26666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  width: 100%; 
  margin: 0 auto !important;
}

input {
  max-width: 70%;
}

.Heading {
  background-color: #EE4B6A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 , p, .card h3, h3 {
  color: #fcca25;
}

h5 {
  color: rgb(49, 160, 240);
}

.fa-search {
  color: whitesmoke;
}

nav a::hover {
  color: #3479f8
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 10px 0;
}

.btn {
  background-color: #DF3B57;
}

.fa-heart {
  color: red;
}

.home * {
  margin: 6px 0;
}

/* food card */

.card {
  background-color: #fecadc;
  min-height: 280px;
}
.card img {
  width: 100%;
}

.card h3 {
  color:#31a0f0;
}

.card .shareButton {
  background-color: transparent;
  position: absolute;
  border: none;
  bottom: 8px;
  right: 10px;
}

/* favorites food card */

.listData {
  flex-wrap: wrap;
}

.favorites {
  border: none;
  flex-wrap: wrap;
}

.favorites .fa-circle-xmark {
  color: #dd0000;
}

.favorites .fa-circle-xmark::before {
  background: rgba(255, 247, 0, 0.7);
  border-radius: 35px;
}

.deleteButton {
  position: absolute;
  background-size: 20%;
  background: transparent;
  border-radius: 35px;
  top: -4%;
  right: -6%;
  cursor: pointer;
  border: none;
}

.fa-circle-xmark:hover {
  color: rgb(255, 29, 29);
}

/* Dark mode switch */

.darkMode {
  display: flex;
  align-items: center;
}

.darkMode label, .darkMode h5 {
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(247, 172, 172);
  -webkit-transition: .4s;
  transition: .4s
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode h5 {
  color: #61dafb;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
}

/* Dark Mode Colors */

.toggleDarkMode {
  background-color: #323131 !important;
}

.appDark {
  background-color: #505050 !important;
}

/* favorites page */

.favorites {
  flex-wrap: wrap;
}

/* loading style */

.loader-wrapper {
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e8ff50;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}